// color
$bg-color: #dedede;
$white: #fff;
$black: #000;
$black-lighter: #282828;
$red: #dc1313;
$spring: #FFC436;
$winter: #ADC4CE;


// tranistions

$transition-global: .3s linear;
$transition-default: .1s linear;
$transition-right: right 1s;
$transition-left: left 1s;

// border

$global-border-value: 1px solid $black;

